{% extends 'home/nav.html' %}

{% block content %}


  <main id="site-content" data-v-component-post>

    <!-- Single Blog Post Thumb -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div>
            <h1 class="text-center" data-v-if-not="post.img" data-v-post-name>About Us</h1>

            <div class="" data-v-post-content>
              <h2>Why we build such a intelligent system for defect detection?</h2>
              <p>
                Surface anomaly detection based on computer vision has gradually become one of the significant directions for the intelligent application in industrial production.
                Traditional solutions for defect detection are mostly built upon image processing technology or machine learning algorithms, but rely heavily on large amounts of supervised data. The deep learning anomaly detection algorithm dominated by generative adversarial networks and autoencoders has good performance.
                The knowledge distillation detection technology based on pre-training networks fully utilizes the prior knowledge of upstream models, achieving better performance.
              </p>
              <p>
                This project combines techniques like with techniques such as pre-training networks, knowledge distillation and feature pyramid, and adopts a self-supervised anomaly detection method based on Student-Teacher Feature Pyramid Matching.
                The method has achieved excellent pixel-level performance on industrial image datasets.
                Based on the research of algorithms, this article attempts to combine image processing technology with deep learning detection technology, adopts front-end, back-end and database technology, focuses on detection efficiency and data management, and designs an intuitive, feature-rich, easy-to-use and easy-to-maintain intelligent industrial vision system for defect detection.
                Users can obtain data management services and image detection results through a concise view, ultimately realizing the enhancement of industrial vision and the intelligence of defect detection.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <hr class="my-5 border">

  <section class="py-5" title="myself">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h2 class="mb-3">Who am I?</h2>
          <h3 class="text-muted">I am one student of Data Science, dedicated to building this project.</h3>
        </div>
      </div>
      <div class="row justify-content-center">

        <div class="col-lg-3 mb-4">

          <div class="row">
            <div class="col-md-12">
              <img alt="image" loading="lazy" src="https://ui-avatars.com/api/?name=Feng&background=87CEFA&size=400" class="img-fluid p-4 rounded-circle">
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h4 class="mt-4 mb-0">Mr. Feng</h4>
                <h5 class="text-muted mb-3">Major - Data Science and Big Data Tech</h5>
                <p class="text-muted">A professional student dedicated to the research for anomaly detection</p>

                <ul class="mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a href="#" class="social-link">
                      <i class="lab la-weixin"></i>
                      <span class="visually-hidden">WeChat</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link">
                      <i class="lab la-qq"></i>
                      <span class="visually-hidden">QQ</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link">
                      <i class="lab la-github"></i>
                      <span class="visually-hidden">Github</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-link">
                      <i class="lab la-zhihu"></i>
                      <span class="visually-hidden">Zhihu</span>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </section>

  <hr class="my-5 border">

  <section class="py-5" title="cooperation">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h2 class="mb-3">Meet My Supporters</h2>
          <h3 class="text-muted">Unforgettable experience from their support.</h3>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-3 mb-4">

          <div class="row">
            <div class="col-md-12">
              <img alt="image" loading="lazy" src="https://ui-avatars.com/api/?name=Tong&background=CD5C5C&size=400" class="img-fluid p-4 rounded-circle">
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h4 class="mt-4 mb-0">Prof. Tong</h4>
                <h5 class="text-muted mb-3">Title - Professor</h5>
                <p class="text-muted">She has taught me about the thesis writing and academic research.</p>

                <ul class="mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-weixin"></i>
                      <span class="visually-hidden">WeChat</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-qq"></i>
                      <span class="visually-hidden">QQ</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-github"></i>
                      <span class="visually-hidden">Github</span>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>


        <div class="col-lg-3 mb-4">

          <div class="row">
            <div class="col-md-12">
              <img alt="image" loading="lazy" src="https://ui-avatars.com/api/?name=Ge&background=87CEFA&size=400" class="img-fluid p-4 rounded-circle">
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h4 class="mt-4 mb-0">Mr. Ge</h4>
                <h5 class="text-muted mb-3">Major - Electronic Information Engineering</h5>
                <p class="text-muted">His skills and knowledge on hardware has benefit me a lot.</p>

                <ul class="mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-weixin"></i>
                      <span class="visually-hidden">WeChat</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-qq"></i>
                      <span class="visually-hidden">QQ</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-github"></i>
                      <span class="visually-hidden">Github</span>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>


        <div class="col-lg-3 mb-4">

          <div class="row">
            <div class="col-md-12">
              <img alt="image" loading="lazy" src="https://ui-avatars.com/api/?name=Lu&background=87CEFA&size=400" class="img-fluid p-4 rounded-circle">
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h4 class="mt-4 mb-0">Mr. Lu</h4>
                <h5 class="text-muted mb-3">Major - Electronic Information Engineering</h5>
                <p class="text-muted">He initialized some partial basis of this project.</p>

                <ul class="mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-weixin"></i>
                      <span class="visually-hidden">WeChat</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-qq"></i>
                      <span class="visually-hidden">QQ</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-github"></i>
                      <span class="visually-hidden">Github</span>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>


        <div class="col-lg-3 mb-4">

          <div class="row">
            <div class="col-md-12">
              <img alt="image" loading="lazy" src="https://ui-avatars.com/api/?name=Kang&background=BCEE68&size=400" class="img-fluid p-4 rounded-circle">
            </div>
            <div class="col-md-12 text-center">
              <div class="pt-2">
                <h4 class="mt-4 mb-0">Mr. Kang</h4>
                <h5 class="text-muted mb-3">Major - Optoelectronic Information Science and Engineering</h5>
                <p class="text-muted">He has proposed some very constructive suggestions on the design of website at early stage.</p>

                <ul class="mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-weixin"></i>
                      <span class="visually-hidden">WeChat</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-qq"></i>
                      <span class="visually-hidden">QQ</span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a  class="social-link">
                      <i class="lab la-github"></i>
                      <span class="visually-hidden">Github</span>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

{% endblock %}