{% extends 'home/nav.html' %}

{% block content %}


  <main id="site-content" data-v-component-post>

    <!-- Single Blog Post Thumb -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div>
            <h1 class="text-center" data-v-if-not="post.img" data-v-post-name>Privacy Policy</h1>

            <div class="" data-v-post-content>
              <h3>
                一、引言
              </h3>
              <p>
                  欢迎您访问我们的产品。智能工业视觉缺陷检测系统（包括产品提供的服务，以下简称“本项目”）是由该项目的团队（以下简称“我们”）开发并支持的。 我们高度重视您的隐私，并致力于以透明和负责的方式处理您的个人信息。 本隐私政策载明了您访问和使用我们的产品和服务时所收集的数据及其处理方式。
              </p>
            </div>
            <br>

            <div class="" data-v-post-content>
              <h3>
                二、信息收集
              </h3>
              <h5>
                1.个人信息
              </h5>
              <p>
                  在您使用本项目的特定功能或服务时，可能会收集以下个人信息：用户名、密码、电子邮箱、手机号码、所在学校、真实姓名等。
此外，我们可能会在您自愿提供的情况下收集其他相关个人信息。
              </p>
              <h5>
                2.非个人信息
              </h5>
              <p>
                  我们会自动收集您的设备信息，包括但不限于 IP 地址、浏览器类型、操作系统版本、设备型号等。
我们还会收集您在使用本项目过程中的行为数据，例如访问的页面、停留时间、操作记录等。
              </p>
            </div>
            <br>

            <div class="" data-v-post-content>
              <h3>
                三、信息使用
              </h3>
              <h5>
                1.个人信息
              </h5>
              <p>  我们收集您的个人信息主要用于以下目的：</p>
              <p>（1）为您提供客户服务，解决您在使用本网站过程中遇到的问题；</p>
              <p>（2）改进本网站的功能和用户体验。</p>
              <h5>
                2.非个人信息
              </h5>
              <p>  我们收集的非个人信息主要用于以下目的：</p>
              <p>（1）统计分析，了解用户行为，优化本网站功能和用户体验；</p>
              <p>（2）保障本网站的安全和稳定运行。</p>
            </div>
            <br>

            <div class="" data-v-post-content>
              <h3>
                四、信息存储与保护
              </h3>
              <h5>
                1.信息存储
              </h5>
              <p>  您的个人信息将存储在本网站的服务器上，我们会采取合理的安全措施保护您的信息安全。</p>
              <h5>
                2.信息保护
              </h5>
              <p>  我们承诺采取以下措施保护您的个人信息：</p>
              <p>（1）采用加密技术保护您的敏感信息；</p>
              <p>（2）定期检查和更新安全措施，确保信息安全。</p>
            </div>
            <br>

            <div class="" data-v-post-content>
              <h3>
                五、信息披露
              </h3>
              <p>  我们不会向任何第三方披露您的个人信息，除非以下情况：</p>
              <p>1.您明确同意我们向第三方披露；</p>
              <p>2.法律法规要求我们披露；</p>
              <p>3.为了保护本网站的安全和合法权益，我们需要向第三方披露。</p>
            </div>
            <br>

            <div class="" data-v-post-content>
              <h3>
                六、第三方链接
              </h3>
              <p>  本网站可能包含第三方链接，如GitHub、高校信息或其他互联网开源信息。我们无法控制这些第三方链接的隐私政策，请您在使用时注意保护自己的个人信息。</p>
            </div>
            <br>

            <div class="" data-v-post-content>
              <h3>
                七、隐私政策更新
              </h3>
              <p>  我们可能会不时更新本隐私政策，以反映我们的业务变化、法律法规变化或其他原因。我们会在本页面上发布更新后的隐私政策，请您定期查看。</p>
            </div>

            <div class="" data-v-post-content>
              <p>  感谢您使用本项目，我们将竭诚为您提供优质产品与服务。</p>
            </div>
            <br>

          </div>
        </div>
      </div>
    </div>
  </main>

  <hr class="my-5 border">


{% endblock %}